.email.input
  %label Email
  = text_field_tag 'steward[email]'
.password.input
  %label Password
  = password_field_tag 'steward[password]'
.password.input
  %label Password Confirmation
  = password_field_tag 'steward[password_confirmation]'
.cc_license.input
  %label I'm willing to share my images with the community
  = check_box_tag 'steward[cc_opt_in]', true,true
  .cc
    %a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc-sa/3.0/us/"}
      %img{:alt=>"Creative Commons License", :style=>"border-width:0", :src=>"http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png"}
      %span Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License

.submit.input
  = submit_tag 'save'

