!!!
%html
 %head
  %title
   Stewardship Log
  = stylesheet_link_tag :all
  = javascript_include_tag :all
  = csrf_meta_tag
 %body
  = render :partial => 'shared/header'
  %p.notice
   = notice
  %p.alert
   = alert
  = yield 
